KAGGLE_USERNAME="seu_usuario_aqui"
KAGGLE_KEY="sua_chave_longa_aqui"
RAW_DATA_DIR=dataset/raw
PROCESSED_DATA_DIR="dataset/processed/Dataset-NTD-V1"

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:./.venv/lib/python3.12/site-packages/nvidia/cudnn/lib
os.environ["CUDA_LAUNCH_BLOCKING"] = "1"
